<div class="container text-center my-5">
  <div class="card shadow">
    <div class="card-body">
      <h1 class="display-4 text-info">Bienvenidos a <strong>Crazy4Cats</strong> </h1>
      <p class="lead text-secondary">
        Un lugar para los amantes de los gatos donde puedes compartir historias, comentar y reaccionar. 
      </p>
      <hr class="my-4">
      <p class="text-dark-emphasis fs-5">
        <strong>驴Listo para compartir?</strong> <br> 隆Inicia sesi贸n! o 隆Comenta de forma an贸nima! 
      </p>
      <p class="text-info fs-5 mb-4">
        <strong>驴Te gust贸 algo?</strong> <br> 隆Reacciona a las publicaciones y comparte tu amor por los gatos!
      </p>
      <a href="<%= user_signed_in? ? new_post_path : new_user_session_path %>" class="btn btn-primary btn-lg px-5">
        <%= user_signed_in? ? "Crear Publicaci贸n" : "Inicia Sesi贸n para Publicar" %>
      </a>
    </div>
  </div>
</div>
